:root {
	font-family: Calibri, sans-serif;
	
	--errors: #400;
	--no-errors: #050;
	
	--bg-color: white;
	--bg-color-2: #EEE;
	--bg-color-2-darkened: #BBB;
	
	--fg-color: black;
	--fg-color-2: #333;
}

button {
	border: 1px solid var(--fg-color-2);
	border-radius: 0.1em;
	
	background-color: var(--bg-color-2);
}

button:hover {
	background-color: var(--bg-color-2-darkened);
	cursor: pointer;
}

textarea {
	display: block;
	margin: 0.5em 0;
}

.code-block {
	font-family: monospace;
	border: 1px solid var(--fg-color-2);
	border-radius: 0.25em;
	padding: 0.5em 0.5em;
	margin: 0.5em 0;
	user-select: none;
	
	color: gray;
	
	.token-atom {
		color: var(--fg-color);
	}
	
	.token-atom-empty {
		color: gray;
	}
	
	.token-atom:hover {
		background-color: var(--bg-color-2);
		cursor: pointer;
	}
}

.expand-button {
	min-width: 2em;
}

.errors-div {
	padding: 0.5em 1em;
	
	.errors-text {
		font-family: monospace;
		margin: 0.2em 0.5em;
	}
}

.errors-header {
	display: flex;
	gap: 0.25em;
	align-items: center;
	margin: 0 0.2em;
}