:root {
	font-family: Calibri, sans-serif;
	
	--errors: #400;
	--no-errors: #050;
	
	--bg-color: white;
	--bg-color-2: #EEE;
	--bg-color-2-darkened: #BBB;
	
	--fg-color: black;
	--fg-color-2: #333;
}

button {
	border: 1px solid var(--fg-color-2);
	border-radius: 0.1em;
	
	background-color: var(--bg-color-2);
}

button:hover {
	background-color: var(--bg-color-2-darkened);
	cursor: pointer;
}

textarea {
	display: block;
	margin: 0.5em 0;
}

.expand-button {
	min-width: 2em;
}

.grammar-syntax-errors-header {
	display: flex;
	gap: 0.5em;
	align-items: center;
}

.grammar-syntax-no-errors {
	color: var(--no-errors);
}

.grammar-syntax-errors {
	color: var(--errors);
}

#grammar-syntax-errors-div {
	padding: 0.5em 1em;
	
	p.grammar-syntax-error-text {
		font-family: Consolas, monospace;
		margin: 0.2em 0.5em;
	}
}